@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

html {
    scroll-behavior: smooth; /* Makes scrolling on the page smooth and not pop */
}


#banner-logo {
    height: 200px;
}

#navbar-logo {
    width: 40px;
}

#socialMediaLinks{
    list-style: none;
}

#socialMediaLinks li a{
    font-size: 64px;
    color: black;
}

#contactpage textarea {
    height: 200px;
}

#contactpage form {
    animation: 1.5s boxin;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#contactpage h2 {
    font-family: Bangers;
    color: white;
}

#contactpage body{
    background: url(https://images.hdqwalls.com/download/light-stream-pink-big-sur-8i-5120x2880.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 100%;
    overflow: hidden;
}

@keyframes boxin {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}